<!DOCTYPE html>
<html lang="en">
<head>    
        <meta charset="UTF-8"> 
        <title>HACXMAS</title>
        
        <audio autoplay="" src="{{ url_for('static', filename='songs/adventures.mp3') }}"></audio>
        
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/HACXMAS.jpg') }}">
        <link href="{{ url_for('static', filename='css/mhome.css') }}" rel="stylesheet"> 
        <!-- <link rel="stylesheet" type="text/css" href="home.css"> -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>    
<body style="background-color:black"></body> 

    <!-- <audio autoplay="" src="{{ url_for('static', filename='songs/adventures.mp3') }}"></audio> -->
    
    <!-- <iframe height="0" width="0" src="songs/adventures.mp3" frameborder="0"></iframe> -->
    
    <div id="top">
    
        <div class="circle">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    
    </div>

    <div id="bottom">
    
        <ul>       
            <li>
                <a href="/mhome">
                    <div class="icon">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                    </div>
                    <!-- <div class = "name" data-text = "Projects">Projects</div> -->
            </li>     
            <li>
                <a href="/shome">
                    <div class="icon">
                        <i class="fa fa-coffee" aria-hidden="true"></i>
                    </div>
                    <!-- <div class = "name" data-text = "Projects">Projects</div> -->
            </li> 
      
        </ul>
        
    </div>
       
</html>